.Post {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 50px;
}

.Card-Author>span {
  margin-left: 170px;
  font-size: 13px;
}

.Nav a {
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
}

.Nav a.active {
  text-decoration: underline;
}
